* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  /* color: #e4e4e4; */
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

.ant-tabs-tab-active {
  background-color: #1fbab8 !important;
}

.ant-tabs-tab {
  padding: 12px 16.5% !important;
}

.ant-tabs-tab-active h3 {
  color: #fff;
}

.ant-tabs-ink-bar {
  left: 0 !important;
  width: 0 !important;
}

.ant-divider-horizontal {
  margin: 0 !important;
}

.ant-timeline-item-head > span {
  font-size: 60px !important;
}
.ant-modal-footer {
  display: flex;
}
.onlyTitle .ant-table-tbody {
  display: none !important;
}

.tableList .ant-table-content table {
  box-shadow: 0px 0px 5px 0.5px #a49999;
  border-radius: 15px;
  border-spacing: revert !important;
}
.ant-typography-edit-content {
  width: 100%;
  margin-bottom: 0 !important;
  margin-top: 20px;
}
