.kanban {
	display: flex;
	align-items: flex-start;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-between;

	&__section {
		width: 210px;

		background-color: #cecbcb;
		padding: 10px;
		border-radius: 10px;

		& ~ & {
			margin-left: 10px;
		}

		&__title {
			font-size: 14px;
			font-weight: 700;
		}

		&__content {
			& > * ~ * {
				margin-top: 10px;
			}
		}
	}
}

.desc {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stages {
	line-height: 40px;
}
