.information {
	margin-bottom: 10px;
	line-height: 40px;
	display: flex;
	flex-direction: column;
	p {
		color: #cccccc;
		span {
			color: #333;
			font-weight: 700;
			font-size: 16px;
			margin-left: 10px;
		}
	}
}

.desc {
	margin: 10px 0;
}

.icon1 {
	cursor: pointer;
	font-size: 15px;
	color: #cccccc;
}

.icon {
	align-items: center;
}
