.card {
	text-align: start;
	position: relative;
	font-size: 11px;
	line-height: 20px;
	box-shadow: 0 2px 5px gray;

	p {
		font-size: 16px;
		font-weight: 100;
		margin-bottom: 10px;
	}

	span {
		border: 1px solid gray;
		border-radius: 30px;
		padding: 0 5px;
	}
	:hover {
		background-color: rgb(247, 245, 245);
	}

	:hover .icon--opts {
		display: block;
	}
}

.icon--opts {
	position: absolute;
	top: 25px;
	right: 15px;
	display: none;
	background-color: rgb(228, 224, 224);
	padding: 5px;
}

.badge {
	width: 20px;
}

.icon--title {
	width: 40px;
}

.team {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.icon--avatar {
	background-color: green;
}
