.card {
	text-align: start;
	position: relative;
	font-size: 11px;
	line-height: 20px;
	box-shadow: 0 2px 5px gray;

	p {
		font-size: 16px;
		font-weight: 100;
		margin: 15px 0 20px 0;
	}

	span {
		border: 1px solid gray;
		border-radius: 30px;
		padding: 0 5px;
	}
	:hover {
		background-color: rgb(247, 245, 245);
	}

	:hover .icon--opts {
		display: flex;
	}
}

.icon--opts {
	position: absolute;
	left: 15px;
	bottom: 5px;
	display: none;

	font-size: 20px;
	cursor: pointer;
}

.badge {
	width: 20px;
}

.icon--title {
	width: 70px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.team {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.icon--avatar {
	background-color: green;
}

.icon--rate {
	position: absolute;
	top: 15px;
	right: 5px;
}
