.logo {
	display: flex;
	margin: 30px 30px 35px 30px;
	width: 9rem;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}

.sider {
	color: #333;
	height: max-content;
	min-height: 100vh;
}

.image {
	width: 24px;
	height: 24px;
}

.content {
	height: max-content;
	width: 1px;
	min-height: 100vh;
	background-color: rgb(233, 232, 237);
}
