.logo {
	font-size: 12px;
	margin: 15px 30px;
}

.image {
	width: 24px;
	height: 24px;
}

.content {
	height: max-content;
	width: 1px;
	min-height: 100vh;
	background-color: rgb(233, 232, 237);
}

@media (max-width: 767px) {
	.logo {
		h1 {
			display: none;
		}

		margin: 10px 17px;
	}
}
