.content {
	padding: 25px;
	background-color: #fff;
	height: max-content;
	min-height: 100vh;
}

.name {
	font-size: 18px;
	font-weight: 700;
}

.comment {
	margin-top: 20px;
	color: #333;
	line-height: 50px;

	h4 {
		font-size: 18px;
	}
}

.table {
	margin-top: 20px;
}

.comment--display {
	display: flex;
	flex-direction: column;
}
