.content {
  padding: 25px;
  background-color: #fff;
  height: max-content;
  min-height: 100vh;
}

.name {
  font-size: 18px;
  font-weight: 700;
}

.table {
  margin-top: 20px;
}

.test {
  background-color: #333;
}

.breadcrum {
  display: flex;
  justify-content: space-between;
}

.icon1 {
  margin-right: 10px;
}
.hover:hover {
  opacity: 0.8;
  cursor: pointer;
}
